<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.5" name="apj.core">
    <resources>
        <resource-root path="lib/apache-commons-net.jar"/>
        <resource-root path="lib/barbecue-1.5-beta1.jar"/>
        <resource-root path="lib/barcode4j-2.1.jar"/>
        <resource-root path="lib/camel-xmlbeans-2.11.1.jar"/>
        <resource-root path="lib/classes12.jar"/>
        <resource-root path="lib/com.lowagie.text-2.1.7.jar"/>
        <resource-root path="lib/commons-beanutils-1.8.3.jar"/>
        <resource-root path="lib/commons-beanutils-1.9.0.jar"/>
        <resource-root path="lib/commons-beanutils-1.9.2.jar"/>
        <resource-root path="lib/commons-cli-1.1.jar"/>
        <resource-root path="lib/commons-codec-1.11.jar"/>
        <resource-root path="lib/commons-collections-3.2.1.jar"/>
        <resource-root path="lib/commons-digester-2.1.jar"/>
        <resource-root path="lib/commons-fileupload-1.3.1.jar"/>
        <resource-root path="lib/commons-fileupload-1.3.3.jar"/>
        <resource-root path="lib/commons-io-1.3.2.jar"/>
        <resource-root path="lib/commons-io-1.3.jar"/>
        <resource-root path="lib/commons-javaflow.jar"/>
        <resource-root path="lib/commons-lang3-3.7.jar"/>
        <resource-root path="lib/commons-logging-1.1.1.jar"/>
        <resource-root path="lib/core-2.2.jar"/>
        <resource-root path="lib/core-renderer.jar"/>
        <resource-root path="lib/flyingsaucer-renderer.jar"/>
        <resource-root path="lib/font-courrier.jar"/>
        <resource-root path="lib/gson-2.4.jar"/>
        <resource-root path="lib/htmlcomponent.jar"/>
        <resource-root path="lib/httpclient-4.3.4.jar"/>
        <resource-root path="lib/httpcore-4.3.2.jar"/>
        <resource-root path="lib/httpmime-4.3.jar"/>
        <resource-root path="lib/iText-2.1.7.js2.jar"/>
        <resource-root path="lib/itext-pdfa-5.5.6.jar"/>
        <resource-root path="lib/itext-xtra-5.5.6.jar"/>
        <resource-root path="lib/itextpdf-5.5.6.jar"/>
        <resource-root path="lib/jackson-annotations-2.6.0.jar"/>
        <resource-root path="lib/jackson-core-2.6.0.jar"/>
        <resource-root path="lib/jackson-databind-2.6.0.jar"/>
        <resource-root path="lib/jakarta-taglibs-standard-1.1.2.jar"/>
        <resource-root path="lib/jasperreports-5.6.0.jar"/>
        <resource-root path="lib/jasperreports-6.1.0.jar"/>
        <resource-root path="lib/jasperreports-fonts-6.1.0.jar"/>
        <resource-root path="lib/jasperreports-javaflow-6.1.0.jar"/>
        <resource-root path="lib/java-json.jar"/>
        <resource-root path="lib/javaee-endorsed-api-6.0.jar"/>
        <resource-root path="lib/javaee.jar"/>
        <resource-root path="lib/javase-2.2.jar"/>
        <resource-root path="lib/javax.ejb.jar"/>
        <resource-root path="lib/javax.json-1.0.jar"/>
        <resource-root path="lib/javax.mail-1.4.4.jar"/>
        <resource-root path="lib/javax.servlet-3.0.jar"/>
        <resource-root path="lib/javax.servlet.jar"/>
        <resource-root path="lib/javax.websocket-api-1.0-rc4.jar"/>
        <resource-root path="lib/javax.websocket-api.jar"/>
        <resource-root path="lib/javax.ws.rs.jar"/>
        <resource-root path="lib/jboss-client.jar"/>
        <resource-root path="lib/jboss-logging-3.1.0.GA.jar"/>
        <resource-root path="lib/jboss-marshalling-1.3.11.GA.jar"/>
        <resource-root path="lib/jboss-marshalling-river-1.3.11.GA.jar"/>
        <resource-root path="lib/jboss-remote-naming-1.0.2.Final.jar"/>
        <resource-root path="lib/jboss-remoting-3.2.8.GA.jar"/>
        <resource-root path="lib/jcommon-1.0.23.jar"/>
        <resource-root path="lib/jcommon-1.0.8.jar"/>
        <resource-root path="lib/jeval.jar"/>
        <resource-root path="lib/jfreechart-1.0.13.jar"/>
        <resource-root path="lib/jfreechart-1.0.19.jar"/>
        <resource-root path="lib/jfreechart.jar"/>
        <resource-root path="lib/joda-time-2.1.jar"/>
        <resource-root path="lib/json-simple-1.1.jar"/>
        <resource-root path="lib/jsoup-1.11.3.jar"/>
        <resource-root path="lib/mongo-java-driver-2.10.1.jar"/>
        <resource-root path="lib/netty-buffer-4.0.25.Final.jar"/>
        <resource-root path="lib/netty-codec-4.0.25.Final.jar"/>
        <resource-root path="lib/netty-codec-http-4.0.25.Final.jar"/>
        <resource-root path="lib/netty-common-4.0.25.Final.jar"/>
        <resource-root path="lib/netty-handler-4.0.25.Final.jar"/>
        <resource-root path="lib/netty-socketio-1.7.6.jar"/>
        <resource-root path="lib/netty-transport-4.0.25.Final.jar"/>
        <resource-root path="lib/netty-transport-native-epoll-4.0.25.Final.jar"/>
        <resource-root path="lib/ojdbc6-11.jar"/>
        <resource-root path="lib/org.apache.commons.io.jar"/>
        <resource-root path="lib/poi-3.12-20150511.jar"/>
        <resource-root path="lib/poi-3.9.jar"/>
        <resource-root path="lib/poi-examples-3.12-20150511.jar"/>
        <resource-root path="lib/poi-excelant-3.12-20150511.jar"/>
        <resource-root path="lib/poi-ooxml-3.11.jar"/>
        <resource-root path="lib/poi-ooxml-3.12-20150511.jar"/>
        <resource-root path="lib/poi-ooxml-schemas-3.12-20150511.jar"/>
        <resource-root path="lib/poi-scratchpad-3.12-20150511.jar"/>
        <resource-root path="lib/postgis-1.5.0.jar"/>
        <resource-root path="lib/postgis-geometry-2.5.1.jar"/>
        <resource-root path="lib/postgis-jdbc-2.5.1.jar"/>
        <resource-root path="lib/postgresql-42.2.6.jar"/>
        <resource-root path="lib/postgresql-9.3-1103-jdbc4.jar"/>
        <resource-root path="lib/postgresql-9.3-1103.jdbc4.jar"/>
        <resource-root path="lib/servlet-api.jar"/>
        <resource-root path="lib/slf4j-api-1.7.7.jar"/>
        <resource-root path="lib/slf4j-api-1.7.9.jar"/>
        <resource-root path="lib/slf4j-simple-1.7.9.jar"/>
        <resource-root path="lib/sun.misc.base64decoder.jar"/>
        <resource-root path="lib/taglibs-standard-impl-1.2.5.jar"/>
        <resource-root path="lib/validation-api-1.0.0.GA.jar"/>
        <resource-root path="lib/xmlbeans-2.6.0.jar"/>
        <resource-root path="lib/xmlworker-5.5.6.jar"/>
        <resource-root path="lib/xnio-api-3.0.0.GA.jar"/>
        <resource-root path="lib/xnio-nio-3.0.0.cr7.jar"/>
        <resource-root path="lib/xuggle-utils-1.20.688.jar"/>
        <resource-root path="lib/xuggle-xuggler-5.4.jar"/>
        <resource-root path="lib/zxing-javase.jar"/>
        <resource-root path="lib/zxing.jar"/>
        <resource-root path="lib/apj-ejb.jar"/>
    </resources>
</module>
